[data-theme='dark'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(255, 255, 210, 0.2) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}

[data-theme='kira'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(81, 16, 124, 0.281) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}