
    .bg-radial-pattern {
        background: radial-gradient(rgba(255, 255, 210, 0.2) 1px, transparent 1px);
        background-size: 20px 20px;
    }


[data-theme='kira'] {
    .bg-radial-pattern {
        background: radial-gradient(rgba(81, 16, 124, 0.281) 1px, transparent 1px);
        background-size: 20px 20px;
    }
}

* {
    scroll-behavior: smooth !important;
}

[v-cloak] {
    display: none;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.3s;

}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

.layout-enter-active,
.layout-leave-active {
    transition: all 0.3s;

}

.layout-enter-from,
.layout-leave-to {
    opacity: 0;
    transform: translateY(10px);

}